.head {
    text-align: center;
}
#time {
    font-size: 200px;
}
.buttons {
    font-size: 120px;
    text-align: center;
}
.time_div {
    width: 1000px;
    border: 5px solid orange;
    text-align: center;
}