body{
  font-family:cursive;
  background-color: black;
}

.head1 {
  text-align: center;
}
#time {
  color: gold;
  margin: auto;
  font-size: 220px;
}

.button {
    background-color:dimgray;
    color: gold;
    display: inline-block;
    width: 15%;
    text-align: center;
    font-size: 50px;
    height: 100px;
}
.div-button{
    text-align: center;
    font-size: 50px;
}
.time_div {
  padding: 10px 10px;
  margin: auto;
  width: 600px;
}
.footer {
  color: gray;
    font-size: 10px;
    text-align: center;
}

.footer{
    color: gray;
    font-size: 10px;
    text-align: center;
}

